.searchContainer {
    margin: 20px auto;
    width: 300px;
    border-radius: 5px;
    text-align: center;
    position: relative;
}
.input {
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 3px;
    outline: none;
    font-size: 16px;
    box-shadow: 0px 0px 5px rgb(111, 111, 112);


    
}